
.searchStyle{
    display: flex;
    justify-content: center;
    width:90%;
}
.formStyle{
    padding: 0 0 7px;
}
.inputStyle{
    padding:0 0 7px;
}
.swipeStyle{
    padding:20px 20px;
    margin: 0 auto 0;
    width: 85%;
}

.cardStyle{
    height: 70px;
    width:23%;
    display: flex;
    align-items: center;
    border:1px solid rgba(0,0,0,0.1);
    padding:7px 10px 7px;
    margin: 7px;
}

.avatarStyle{
    display: flex;
    flex:1;
}
.descStyle{
    display: flex;
    flex:2;
    padding:0 8px 0;
    flex-direction: column;
}
.descStyle p{

}

.otherDescStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabPanelStyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding:20px;
    overflow-y: auto;}