* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  height:65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .toolBar{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  img{
    height: 55px;
    width: 55px;
    margin: 5px 0;
  }
  .menu{
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .menu a{
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color:#0277bd;
  }

  .menu a:active{
    color:#00e676;
  }
  .menu a:hover{
    color:#3d5afe;
  }

main{
  min-height: 85vh;
}
  footer{
    bottom: 0;
    height:45px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
  }

